body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    height: 150vh;
    margin-top: 100;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emo {
    font-size: 2.0em;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera-frame {
    margin: 20px auto;
    border: 5px solid #fff;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

form {
    margin-top: 20px;
}

.btn {
    background-color: #2575fc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #6a11cb;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1.2em;
}

a {
    color: #6a11cb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 1.2em;
}
